@import 'font.css';
@import 'product.css';
@import 'story.css';
@import 'people.css';
@import 'slider.css';
@import 'subscribe.css';
@import 'footer.css';

:root {
    --col: #5CBE3A;
    --ral-reg: 'Raleway regular';
    --ral-b: 'Raleway bold';
    --ral-sb: 'Raleway semiBold';
    --ral-med: 'Raleway medium';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
}


.burger {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background: transparent;
    border: 0;
    display: none;

}

.nav__open {
    display: none;
}

.burger__line {
    width: 40px;
    height: 6px;
    background: #5cbe3a;
    border-radius: 5px;
    box-shadow: 0 2px 5px #87D16D;
    display: flex;


}

.burger__line::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #5cbe3a;
    border-radius: 5px;
    box-shadow: 0 2px 5px #87D16D;
    transition: all .5s ease-in-out;
    top: 25px;
    transform: translateY(-16px);

}

.burger__line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: #5cbe3a;
    border-radius: 5px;
    box-shadow: 0 2px 5px #87D16D;
    transition: all .5s ease-in-out;
    top: 20px;
    transform: translateY(16px);
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.button {
    padding: 15px 30px;
    background-color: var(--col);
    font-family: var(--ral-med);
    line-height: 19px;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;
    display: inline-block;
}

.button:hover {
    transform: scale(1.1);

}

.buttons__blur {
    padding: 14px 22px;
    font-family: var(--ral-med);
    line-height: 19px;
    font-size: 16px;
    color: var(--col);
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s;
    border: 1px solid rgba(92, 190, 58, 0.3);
    margin-left: 30px;
    display: inline-block;
}

.buttons__blur:hover {
    transform: scale(1.1);
    background: var(--col);
    color: #fafafa;
}

.header,
.header__origin {
    background-color: #EBFFE4;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.header__active {
    background-image: url(../img/active-bg2.png);
    background-position: center;
    background-size: cover;
}

.header__active_2 {
    background-image: url(../img/active-bg3.png);
    background-position: center;
    background-size: cover;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    z-index: 1;

}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__list_active {
    position: absolute;

}

.nav__list_link {
    margin-left: 30px;
    font-family: var(--ral-med);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #051101;
    opacity: 0.6;
    transition: .3s;
}

.nav__list_link:hover {
    opacity: 1;
}

.nav__list {
    display: flex;
}

.header__left {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.header__left_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.header__left_img {
    width: 50px;
    height: 17px;
    margin-left: 16px;
}

.header__left_tagline {
    font-family: var(--ral-sb);
    font-size: 22px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--col);
}

.header__left_title {
    font-family: var(--ral-b);
    font-size: 61px;
    line-height: 120%;
    color: #051101;
    margin-bottom: 26px;
}

.header__left_text {
    font-family: var(--ral-reg);
    font-size: 16px;
    line-height: 150%;
    color: #051101;
    max-width: 392px;
    margin-bottom: 11px;
}

.header__left_nextText {
    font-family: var(--ral-reg);
    font-size: 16px;
    line-height: 150%;
    color: #051101;
    max-width: 392px;
    margin-bottom: 15px;
}

.header__left_span {
    color: var(--col);

}

.header__left_price {
    font-family: var(--ral-b);
    font-size: 31px;
    line-height: 130%;
    color: var(--col);
    margin-bottom: 38px;
}

.header__left_price_span {
    text-decoration-line: line-through;
    color: #87D16D;
    font-size: 22px;
}

.header__left_buttons {
    margin-bottom: 100px;
}

.header__costumers_box {
    display: flex;
    justify-content: space-between;
    max-width: 148px;
}

.header__customers_left {
    font-family: var(--ral-b);
    font-size: 85px;
    line-height: 120%;
    color: var(--col);
    margin-right: 68px;
}

.header__customers_text {
    max-width: 148px;
    font-family: var(--ral-med);
    font-size: 16px;
    line-height: 150%;
    color: #051101;
    text-align: center;
    padding-bottom: 77px;
}

.header__strips {
    position: absolute;
    /* z-index: 1; */
    right: 0;
    top: 0;
}

.header__right_img {
    position: absolute;
    z-index: 1;
    right: 64px;
    top: 157px;
}

.header__right {
    display: flex;
    align-items: flex-end;
}

.right__blur {
    width: 539.24px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    bottom: 218px;
    background: #C3DE8B;
    filter: blur(50px);
    transform: rotate(-14.89deg);
    z-index: 0;

}

.header__right_tabs {
    margin-bottom: 77px;
}

.header__right_icon {
    margin-right: 45px;
    border: 1px solid #BEE761;
    border-radius: 50%;
    background: #F5F5F5;
}

.main {
    margin-top: 120px;
}

@media (max-width:1250px) {
    .container {
        max-width: 1140px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .nav {
        z-index: 1;
    }

    .header__right_img {
        right: 64px;
        top: 138px;
        max-width: 700px;

    }

    .header__strips {
        top: 0px;
        max-width: 700px;
    }

    .right__blur {
        right: 85px;
        bottom: 260px;
    }
}

@media (max-width:1100px) {
    .container {
        max-width: 960px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .header__strips {
        display: none;
    }

    .header__right_img {
        position: static;
    }

    .header__content {
        flex-direction: column;
    }

    .header__left {
        align-items: center;
    }

    .header__right {
        align-items: center;
        flex-direction: column
    }

    .right__blur {
        right: 100px;
        bottom: 220px;
    }

}

@media (max-width:769px) {

    .burger {
        display: block;
        margin-right: 20px;
        position: absolute;
        right: 0;
    }

    .nav__open {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }

    .button {
        display: none;
    }

    .nav__list {
        position: absolute;
        left: -100%;
        display: flex;
        flex-direction: column;
        top: 60px;
    }

    .nav__list {
        position: absolute;
        left: -30%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .nav {
        position: absolute;
        left: -32%;
    }

    .nav__active {
        position: fixed;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.7s ease-in-out;
        left: 0;
        height: 300px;
        background: #5CBE3A;
        border-radius: 0 10px 10px 0;
        padding-left: 20px;
        z-index: 10;
    }

    .right__blur {
        display: none;
    }

    .header__right_img {
        width: 100%;
    }

    .nav__list_link {
        background-color: #5CBE3A;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 720px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .header__left_tagline {
        font-size: 18px;
    }

    .header__left_title {
        font-size: 50px;
        line-height: 120%;
        margin-bottom: 20px;
        text-align: center;
    }

    .header__left_text {
        font-size: 14px;
        margin-bottom: 11px;
    }

    .header__left_price {
        font-size: 28px;
    }

    .buttons__blur {
        margin-left: initial;

    }

    .header__customers {
        margin-left: 20px;
    }

    .header__customers_left {
        font-size: 70px;
        margin-right: 50px;
    }

    .header__customers_text {
        padding-bottom: 50px;
    }

    .header__right_img {
        max-width: 320px;
    }

    .header__right_icon {
        margin-right: 10px;
    }
}

@media (max-width:400px) {
    .burger__line::after {
        top: 16px;
    }

    .burger__line::before {
        top: 28px;
    }

    .burger {
        margin-right: 10px;
    }

    .header__left_tagline {
        font-size: 13px;
    }

    .nav__list {
        margin-left: 10px;
    }

    .header__left_title {
        font-size: 42px;
    }

    .header__customers {
        margin-left: 19px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .header__customers_left {
        font-size: 60px;
        margin-right: 30px;
    }

    .header__right_icon {
        max-width: 80px;
        width: 100%;
    }

    .header__left_buttons {
        margin-bottom: 70px;
    }
}