.subscribe__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1146px;
    width: 100%;
    background: #EBFFE4;
    margin-left: 70px;
}

.subscribe__title {
    font-family: var(--ral-b);
    font-size: 44px;
    line-height: 130%;
    color: #051101;
    margin-top: 84px;
}

.subscribe__text {
    font-family: var(--ral-reg);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #051101;
    opacity: 0.7;
    max-width: 392px;
    width: 100%;
    margin-top: 25px;
}

#subs {
    margin-top: 36px;
    margin-bottom: 84px;
}

@media (max-width:1250px) {
    .container {
        max-width: 1140px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .subscribe__inner {
        margin-left: 0;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 940px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    #subs {
        display: block;
    }
}

@media (max-width:768px) {
    .subscribe__title {
        font-size: 36px;
        margin-top: 50px;
    }

    #subs {
        margin-bottom: 58px;
    }
}

@media(max-width:576px) {
    .subscribe__title {
        font-size: 28px;
    }

    .subscribe__text {
        max-width: 340px;
    }

    .subscribe__inner {
        max-width: 540px;
    }

    #subs {
        padding: 15px 26px;
        font-size: 14px;
        line-height: 15px;
    }
}
@media (max-width:350px){
    .subscribe__text{
        max-width: 225px;
        font-size: 14px;
        margin-top: 15px;
    }
    .subscribe__inner{
        border-radius: 5px;
    }
}